
.header_logo img {
   width: 200px;
   height: auto;
   background-size: contain;
   margin-top: 30px;
}

.header_nav {
   
}

ul li {
   display: flex;
   font-size: 20px;
   color: #a9a9a9;
   padding: 10px;
   display: inline-block;
   float: right;
}

.change__clr {
   color: #cc3399;
   font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Permanent Marker', cursive;
font-size: 60px;
line-height: 100px;
z-index: 10;

}

span {
   color: #0099cc;
}

.firstview_content {
   margin-top: 90px;
   margin-left:500px;
}

.firstview__content-sub-copy {
   color: #cc3399;
   font-size: 35px;
   padding-top: 40px;
   font-weight: bold;
}

.firstview__content-sub-copy-comment {
   color: #a9a9a9;
   padding-top: 25px;
   line-height: 30px;
}

.firstview__eyecatch img {
   margin: 0 0 0 auto;
   
}

.common_sub_ttl {
   text-align: center;
   color: purple;
   font-family: 'Noto Sans JP', sans-serif;
font-family: 'Noto Serif JP', serif;
font-family: 'Permanent Marker', cursive;
font-size: 30px;
}

.h2 {
   color: #a9a9a9;
}